{% extends 'HTMFILMBundle::base.html.twig' %}

{% block pageTitle %}
	{{ parent() }} - Filmy
{% endblock %}

{% block content %}
  <div class="container">
    <div class="row">  
    <div class="col-md-12">
         <div class="panel panel-default">
                <div class="panel-heading">
                    Wyszukiwanie i filtracja
                </div>
        <div class="panel-body">
            <form action="{{ path('film_postsList') }}" method="get" class="form-inline filter-search" role="form">
                <div class="form-group">
                    <input type="text" name="titleLike" value="{{ queryParams['titleLike'] }}" class="form-control" placeholder="Wyszukaj po tytule">
                </div>

                <div class="form-group">
                    <select name="categoryId" class="select-block" placeholder="Kategoria">
                        <option></option>
                        <option {{ -1 == queryParams['categoryId'] ? 'selected="selected"':'' }} value="-1">Brak kategorii</option>
                        {% for category in categoriesList %}
                        <option {{ category['id'] == queryParams['categoryId'] ? 'selected="selected"':'' }} value="{{ category['id'] }}">{{ category['name'] }}</option>
                        {% endfor %}
                    </select>
                </div>

                        <div class="form-group">
                            <button class="btn btn-primary">Filtruj</button>
                        </div>
                  <div class="form-group pull-right limit">
                            <label for="inputEmail1" class="col-lg-5 control-label">Wyników</label>
                            <div class="col-lg-7">
                                <select name="limit" class="select-block" id="limit" placeholder="Pokaż">
                                    {% for limit in limits %}
                                        <option {{ currLimit == limit ? 'selected="selected"':'' }} value="{{ limit }}">
                                            {{ limit }}
                                        </option>
                                    {% endfor %}
                                    {#
                                    <option value="2">2</option>
                                    <option value="5">5</option>
                                    <option value="10">10</option>
                                    <option value="15">15</option>
                                    #}
                                </select>  
                            </div>
                        </div>
                      </form>          
                    </div>
                </div>
               <div class="panel panel-default">
                <div class="panel-heading">
                        FILMY
                </div>
                <div class="panel-body">
                    
                    <ul class="nav nav-pills pull-left">
                        {% for key,val in statusesList %}
                            <li {{ currStatus == val ? 'class="active"':'' }}>
                                <a href="{{ path('film_postsList', {'status': val}) }}">
                                    {{ key }} ({{ statistics[val] }})
                                </a>
                            </li>
                        {% endfor %} 
                       </ul>

                    <ul class="nav nav-pills pull-right">
                        <li><a href="{{ path('film_postForm') }}">Dodaj nowy</a></li>
                    </ul> 
                    <div class="clearfix"></div> 
                    <div style="margin-top: 20px;" class="table-responsive">
                     <table class="table table-striped table-bordered table-hover">
                        <thead>
                        <tr>
                            <th>{{ knp_pagination_sortable(pagination, 'ID', 'f.id') }}</th>
                            <th>{{ knp_pagination_sortable(pagination, 'Tytuł', 'f.title') }}</th>
                            <th>{{ knp_pagination_sortable(pagination, 'Kategoria', 'c.id') }}</th>
                            <th>{{ knp_pagination_sortable(pagination, 'Aktor', 'a.id') }}</th>
                            <th>{{ knp_pagination_sortable(pagination, 'Autor', 'au.id') }}</th>
                            <th>{{ knp_pagination_sortable(pagination, 'Data utworzenia', 'f.createDate') }}</th>
                            <th>{{ knp_pagination_sortable(pagination, 'Data publikacji', 'f.publishedDate') }}</th>
                            <th>Akcje</th>
                        </tr>
                        </thead>
                        <tbody>
                            {% for film in pagination %}
                         <tr>
                        <td>{{ film.id }}</td>
                        <td><a href="{{ path('film_postForm', {'id': film.id}) }}">{{ film.title }}</a></td>
                         <td>
                        {% if film.category is null %}
                            brak kategorii
                        {% else %}
                            {{ film.category.name|capitalize }}
                        {% endif %}
                         </td>   
                        <td>
                        {% for actor in film.actors %}
                        <span class="label label-info">{{ actor.name }}</span>
                        {% else %}
                        Brak dodanych aktorów
                        {% endfor %}
                        </td> 
                        <td>
                        {% if film.author is null %}
                            brak autora
                        {% else %}
                            {{ film.author.username|capitalize }}
                        {% endif %}    
                           </td>
                        <td>
                            {{ film.createDate|admin_format_date }}
                        </td>
                        <td>
                        {% if film.publishedDate is null %}
                            nie zaplanowano publikacji
                        {% else %}
                            {{ film.publishedDate|admin_format_date }}
                        {% endif %}
                        </td>
                        <td>
                        <div class="btn-group">
                            <a href="{{ path('film_postForm', {'id': film.id}) }}" class="btn btn-primary">
                                <span class="glyphicon glyphicon-edit"></span>
                            </a> 
                            {% set tokenName = csrfProvider.generateCsrfToken(deleteTokenName|format(film.id)) %}
                                {% set deleteUrl = path('film_postDelete', {'id': film.id, 'token': tokenName}) %}
                                <a href="{{ deleteUrl }}" class="btn btn-danger" data-confirmAction="">
                                    <span class="glyphicon glyphicon-trash"></span>
                                </a>    
                        </div>   
                            
                        </td>
                            {% endfor %}
                        </tbody>
                            
                     </table>
                    </div> 
             {{ knp_pagination_render(pagination, 'HTMFILMBundle:Pagination:pagination.html.twig') }}           
                </div>
               </div>
        </div>    
    </div>
    </div>
  </div>  
{% endblock %}
    
