{% extends 'HTMFILMBundle::base.html.twig' %}

{% block pageTitle %}
    Usuwanie Aktora "{{ actors.name }}"
{% endblock %}

{% block content %}
<div class="container">
    <div class="row">
        <div class="col-md-12">
            <div class="panel panel-default">
                <div class="panel-heading">
                    Usuwanie aktora "{{ actors.name }}"
                </div>
                <div class="panel-body">
                    
                     {% form_theme form 'HTMFILMBundle:Form:form_theme.html.twig' %}          
                    
             {{ form_start(form, {'action': path('film_actorsDelete', {'id': actors.id})}) }}
             {{ form_row(form.newActors, {'label_length': 3, 'wrapper_length': 9, 'attr': {'class': 'select-block'}}) }}

             {{ form_row(form.submit, {'attr': {'class': 'pull-right'}}) }}

             {{ form_rest(form) }}
             {{ form_end(form) }}           
                        
                    
                </div>
            </div> <!-- .panel -->
        </div> <!-- .col-md-12 -->                 
    </div> <!-- .row -->
</div> <!-- .container -->
{% endblock %}