{% extends 'HTMFILMBundle::base.html.twig' %}


{% if form is defined %}
    {% form_theme form 'HTMFILMBundle:Form:form_template.html.twig' %}
{% endif %}

{% set pageTitle = '' %}

{% block pageTitle %}
    {{ pageTitle }}
{% endblock %}

{% block content %}
<div class="container">
    <div class="row">
        <div class="col-md-12">
            <div class="panel panel-default">
                <div class="panel-heading">
                    {{ pageTitle }}
                </div>
                <div class="panel-body">
                    
                    
        {% form_theme form 'HTMFILMBundle:Form:form_theme.html.twig' %}          
                    
            {{ form(form, {'attr': {'novalidate': 'true'}}) }}
                    
                </div>
            </div> <!-- .panel -->
        </div> <!-- .col-md-12 -->                 
    </div> <!-- .row -->
</div> <!-- .container -->
{% endblock %}
