{% extends 'HTMFILMBundle::base.html.twig' %}

{% block pageTitle %}
	{{ parent() }} - Kategorie
{% endblock %}

{% block content %}
<div class="container">
    <div class="row">
        <div class="col-md-12">

            <div class="panel panel-default">
                <div class="panel-heading">Aktorzy</div>
                <div class="panel-body">
                    
                     <ul class="nav nav-pills">
                        <li><a href="{{ path('film_actorsForm') }}">Dodaj aktora</a></li>
                    </ul>
                    
                   <div style="margin-top: 20px;" class="table-responsive">
                        <table class="table table-striped table-bordered table-hover">
                            <thead>
                                <tr>
                                    <th>{{ knp_pagination_sortable(pagination, 'ID', 'a.id') }}</th>
                                    <th>Zdjęcie</th>
                                    <th>{{ knp_pagination_sortable(pagination, 'Nazwa', 'a.name') }}</th>
                                     <th>{{ knp_pagination_sortable(pagination, 'Data utworzenia', 'a.createDate') }}</th>
                                    <th>{{ knp_pagination_sortable(pagination, 'Data publikacji', 'a.publishedDate') }}</th>
                                   {# <th>{{ knp_pagination_sortable(pagination, 'Ilość aktorów', 'actorsCount') }}</th>#}
                                    <th class="actions">Akcje</th>
                                </tr>
                            </thead>
                            <tbody>
                    {% for row in pagination %}
                        {% set actors = row[0] %}
                        {% set editPath = path('film_actorsForm', {'id': actors.id}) %}
                        <tr>
                            <td>{{ actors.id }}</td>
                            <td>
                            {% if actors.thumbnail is null %}
                            <p>Brak miniaturki</p>
                            {% else %}
                            <a id="single_image" href="{{ asset(actors.thumbnail) }}"><img src="{{ asset(actors.thumbnail | imagine_filter('actors_thumb')) }}" alt="{{ actors.name }}" class="img-thumbnail"></a>
                            {% endif %}
                            </td>
                            <td><a href="{{ editPath }}">{{ actors.name }}</a></td>
                           {# <td>{{ row['actorsCount'] }}</td>#}
                            
                            <td>{{ actors.createDate|admin_format_date }}</td>
                            <td>
                          {% if actors.publishedDate is null %}
                            nie zaplanowano publikacji
                        {% else %}
                            {{ actors.publishedDate|admin_format_date }}
                        {% endif %}      
                        </td>
                    <td>
                        <div class="btn-group">
                        <a href="{{ editPath }}" class="btn btn-primary"><span class="glyphicon glyphicon-edit"></span></a>
{#                        <a href="{{ path('film_actorsDelete', {'id': actors.id}) }}" class="btn btn-danger"><span class="glyphicon glyphicon-trash"></span></a>#}
                        </div>
                    </td> 
                        
                        </tr>
                    {% endfor %}   
                </tbody>
                 </table>
            </div>            
            {{ knp_pagination_render(pagination, 'HTMFILMBundle:Pagination:pagination.html.twig') }}     
               </div>  <!-- .panel-body -->
            </div>  <!-- .panel -->
        </div> <!-- .col-md-12 -->
    </div> <!-- .row -->
</div> <!-- .container -->
{% endblock %} 
