{% extends 'HTMFILMBundle::base.html.twig' %}

{% block pageTitle %}
    Usuwanie kategorii "{{ category.name }}"
{% endblock %}

{% block content %}
<div class="container">
    <div class="row">
        <div class="col-md-12">
            <div class="panel panel-default">
                <div class="panel-heading">
                    Usuwanie kategorii "{{ category.name }}"
                </div>
                <div class="panel-body">
                    
                    {{ form_start(form, {'action': path('film_categoryDelete', {'id': category.id})}) }}
                        {{ form_row(form.newCategory, {'label_length': 3, 'wrapper_length': 9, 'attr': {'class': 'select-block'}}) }}

                        <div class="col-md-offset-3">
                            {{ form_row(form.setNull) }}
                        </div>

                        {{ form_row(form.submit, {'attr': {'class': 'pull-right'}}) }}

                        {{ form_rest(form) }}
                    {{ form_end(form) }}
                    
                </div>
            </div> <!-- .panel -->
        </div> <!-- .col-md-12 -->                 
    </div> <!-- .row -->
</div> <!-- .container -->
{% endblock %}