{% extends 'HTMFILMBundle::base.html.twig' %}

{% block pageTitle %}
	{{ parent() }} - Kategorie
{% endblock %}

{% block content %}
<div class="container">
    <div class="row">
        <div class="col-md-12">

            <div class="panel panel-default">
                <div class="panel-heading">Kategorie</div>
                <div class="panel-body">
                    
                     <ul class="nav nav-pills">
                        <li><a href="{{ path('film_categoryForm') }}">Dodaj nową</a></li>
                    </ul>
                    
                   <div style="margin-top: 20px;" class="table-responsive">
                        <table class="table table-striped table-bordered table-hover">
                            <thead>
                                <tr>
                                    <th>{{ knp_pagination_sortable(pagination, 'ID', 't.id') }}</th>
                                    <th>{{ knp_pagination_sortable(pagination, 'Nazwa', 't.name') }}</th>
                                    <th>{{ knp_pagination_sortable(pagination, 'Ilość filmów przypisanych', 'filmsCount') }}</th>
                                    <th class="actions">Akcje</th>
                                </tr>
                            </thead>
                            <tbody>
                    {% for row in pagination %}
                        {% set category = row[0] %}
                        {% set editPath = path('film_categoryForm', {'id': category.id}) %}
                        <tr>
                            <td>{{ category.id }}</td>
                            <td><a href="{{ editPath }}">{{ category.name }}</a></td>
                            <td>{{ row['filmsCount'] }}</td>
                    <td>
                        <div class="btn-group">
                        <a href="{{ editPath }}" class="btn btn-primary"><span class="glyphicon glyphicon-edit"></span></a>
                        <a href="{{ path('film_categoryDelete', {'id': category.id}) }}" class="btn btn-danger"><span class="glyphicon glyphicon-trash"></span></a>
                        </div>
                    </td> 
                        
                        </tr>
                    {% endfor %}   
                </tbody>
                 </table>
            </div>            
            {{ knp_pagination_render(pagination, 'HTMFILMBundle:Pagination:pagination.html.twig') }}     
               </div>  <!-- .panel-body -->
            </div>  <!-- .panel -->
        </div> <!-- .col-md-12 -->
    </div> <!-- .row -->
</div> <!-- .container -->
{% endblock %}     