<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8" />
</head>
    <body>
        <div>
            {% block fsi_gallery_content %}
            {% endblock fsi_gallery_content %}
        </div>
    </body>
</html>
